  <p><%= "All #{Cocktail.count} cocktails."%></p>


    <% @cocktails.each do |cocktail| %>
    <p><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag(cocktail.photo.key,
      width: 50, height: 50, crop: :fill) %>
      <% else %>
       <% end %>
    </p>
     <% end %>


<%= link_to 'New Cocktail', new_cocktail_path %>
